.flex-spread {
    display: flex;
    justify-content: space-between;
}

.navigation-component {
    border-bottom: 2px solid lightgray;
}

.navigation-component {
    margin-top: 10px;
}

.header-logo{
    margin-top: 5px;
    max-width: 250px;
}

.site-logo-svg {
    width: 100%;
}

.logo-bg {
    fill: black;
}

.logo-text{
    fill:white;
}

.header-socials ul{
    list-style: none;
    text-align: right;
    margin-top:.3em;
}

.footer-socials ul{
    list-style: none;
    text-align: right;
    margin-top:1em;
}

.social {
    margin-left: calc(2px + 2 * (100vw - 320px) / 1040);
    margin-right: calc(2px + 2 * (100vw - 320px) / 1040);
    display: inline-block;
}

.header-socials .socials-svg {
    height: 24px;
    width: 24px;
    fill:black;
    fill-rule: evenodd;
}

.footer-socials .socials-svg {
    height: 34px;
    width: 34px;
    fill:black;
    fill-rule: evenodd;
}

a {
    outline: none;
    text-decoration: none;
}

.nav-site, .nav-menu, .nav-tools {
    display: inline-flex;
    margin-top: calc(4px + (100vw - 320px) / 1040);
}

.nav-site, .nav-menu {
    text-align: left;
}

.nav-home-icon, .nav-tools-menu svg, .nav-tools-search svg {
    max-width: 28px;
    width: calc(24px + 6 * (100vw - 320px) / 1040);
    margin-left: calc(10px + 2 * (100vw - 320px) / 1040);
}

.nav-tools-search, .nav-home-icon {
    margin-top: 2px;
    margin-right: 5px;
}

.nav-menu, .nav-menu-dropdown {
    font-family:Arial Narrow, Arial, Helvetica, sans-serif;
    text-transform: lowercase;
    letter-spacing: .1em;
    font-weight: bold;
    padding: 0;
    list-style: none;
}

.nav-menu {
    font-size: calc(16px + 3 * (100vw - 320px) / 1040);
}

.nav-menu-dropdown {
    display: grid;
    grid-template-columns: auto auto;
    font-size: calc(20px + 4 * (100vw - 320px) / 1040);
    row-gap: 30px;
}

.nav-link-1 {
    grid-column-start: 1;
}
.nav-link-2 {
    grid-column-start: 2;
}

.nav-link, .nav-link-1, .nav-link-2 {
    margin-left: calc(0px + 10 * (100vw - 320px) / 1040);
    margin-right: calc(0px + 10 * (100vw - 320px) / 1040);
    color: black;
}

.nav-tools {
    text-align: right;
}

.nav-tools-menu svg, .nav-tools-search svg {
    fill: black;
}

.footer-component {
    display:flex;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: .8em;
    margin: 5px 5px 5px 15px;
}

.footer-links, .footer-socials {
    width: 50%;
}

.footer-nav{
    list-style: none;
    display: inline-flex;
    padding: 0;
    transition: ease all .5s;
}

.footer-nav li {
    padding-right:20px;
}

.footer-links a, .footer-links a:visited {
    color: rgb(95, 95, 95);
}

.footer-links span, .footer-links p {
    text-align: left;
    color: rgb(36, 36, 36);
    line-height: 150%;
}

.footer-links span {
    padding-right: 10px;
}

.header-logo:hover .logo-bg{
    transition: .3s;
    transition-delay: 0;
    fill:rgb(185, 28, 0);
}

svg:hover, .header-socials svg:hover, .footer-socials svg:hover, .nav-tools svg:hover {
    transition: .1s;
    transition-delay: 0;
    fill:rgb(255, 94, 0);
}

.nav-link:hover, .nav-link-1:hover, .nav-link-2:hover {
    color:orange;
    transition: .1s;
    transition-delay: 0;
}

.home-banner {
    text-align: center;
}

.home img{
    width: 90vw;
    max-width: 1000px;
}

.home, .artworks, .exhibitions, .culture {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 20px;
    padding-bottom: 50px;
}

@media only screen and (max-width: 600px) {
    .nav-link, .header-socials {
        display: none;
    }
    .nav-menu-dropdown {
        font-size: 1.6em;
    }
    .footer-component {
        display:inline;
        font-size: .9em;
    }
    .footer-nav {
        display: block;
        line-height: 180%;
    }
    .footer-links, .footer-socials {
        width: 100%;
    }
    .footer-socials ul {
        text-align: left;
        padding-left: 0;
    }
}

.screen-reader-only {
    border: 0;
    clip: rect(0,0,0,0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}